body{background-color: rgb(255, 255, 255);}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #68b18d;
  }
h1{
    text-align: center;
    font-family: 'Rubik';font-size: 45px;
    color: rgb(102, 95, 95);
}   